.about-us {
  background: url("../../img/triangle-left-top.svg") 12.9% 5% no-repeat,
    url("../../img/triangle-left-bottom.svg") 0 114% no-repeat,
    url("../../img/triangle-center.svg") 54.2% 38% no-repeat,
    url("../../img/triangle-right.svg") 99.3% 47% no-repeat,
    url("../../img/year.png") 20.5% 89.9% no-repeat;

  .container {
    padding-top: 112px;
    padding-bottom: 109px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 47px;
    margin-bottom: 75px;
  }

  span {
    display: flex;
    flex-direction: column;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 24px;
    line-height: 34px;
    color: $blue;
  }

  span + p {
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }

  svg {
    margin-bottom: 23px;
  }
}

.about-us__list-item {
  height: 163px;
  width: 485px;
  border: 1px solid $grey-special;
  border-left: 3px solid $blue;
  margin-bottom: 29px;
  padding: 95px 40px 40px 41px;

  &:nth-child(n + 1) {
    margin-right: 30px;
  }

  &:hover {
    border-color: $blue;

    span {
      color: $white;
    }

    span + p {
      color: $white;
    }
  }

  &--one {
    background: $white url("../../img/stopwatch.svg") 41px 38px no-repeat;

    &:hover {
      background: $blue url("../../img/stopwatch-hover.svg") 41px 38px no-repeat;
    }
  }

  &--two {
    background: $white url("../../img/hired.svg") 42px 41px no-repeat;

    &:hover {
      background: $blue url("../../img/hired-hover.svg") 42px 41px no-repeat;
    }
  }

  &--three {
    background: $white url("../../img/detective.svg") 41px 42px/36px 31px no-repeat;

    &:hover {
      background: $blue url("../../img/detective-hover.svg") 41px 42px/36px 31px no-repeat;
    }
  }

  &--four {
    background: $white url("../../img/tag.svg") 42px 40px no-repeat;

    &:hover {
      background: $blue url("../../img/tag-hover.svg") 42px 40px no-repeat;
    }
  }
}

.about-us__text-wrap {
  padding-left: 310px;
  padding-right: 120px;

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    color: $grey;
    margin-top: 0;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $grey;
  }

  h2 + p {
    margin-bottom: 22px;
  }

  p + p {
    margin-bottom: 38px;
  }

  a {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 5px;
    padding: 14px 50px;
    background-color: $white;
  }
}

@media (min-resolution: 2dppx) {
  .about-us {
    background: url("../../img/triangle-left-top.svg") 12.9% 5% no-repeat,
      url("../../img/triangle-left-bottom.svg") 0 114% no-repeat,
      url("../../img/triangle-center.svg") 54.2% 38% no-repeat,
      url("../../img/triangle-right.svg") 99.3% 47% no-repeat,
      url("../../img/year@2x.png") 20.5% 89.9%/contain contain no-repeat;
  }
}

@media (min-width: $desktop-width) and (max-width: $desctop-content-width - 1px) {
  .about-us__list-item {
    height: 269px;
    width: 335px;
  }
}

@media (max-width: $desktop-width - 1px) {
  .about-us {
    background: url("../../img/triangle-center.svg") -202.6% 38% no-repeat,
      url("../../img/year-tablet.png") 0 90% no-repeat;

    .container {
      padding-top: 54px;
      padding-bottom: 20px;
    }

    ul {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: -2px;
      margin-bottom: 27px;
    }

    svg {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 10px;
      margin-right: -10px;
    }

    span + p {
      margin-top: -2px;
    }
  }

  .about-us__list-item {
    height: 214px;
    width: 289px;
    padding: 66px 28px 24px 25px;
    border-left-width: 2px;

    &:nth-child(2n) {
      margin-right: -5px;
    }

    &--one {
      background: $white url("../../img/stopwatch.svg") 25px 23px no-repeat;

      &:hover {
        background: $blue url("../../img/stopwatch-hover.svg") 25px 23px no-repeat;
      }
    }

    &--two {
      background: $white url("../../img/hired.svg") 25px 23px no-repeat;

      &:hover {
        background: $blue url("../../img/hired-hover.svg") 25px 23px no-repeat;
      }
    }

    &--three {
      height: 141px;
      background: $white url("../../img/detective.svg") 25px 27px/31px 26px no-repeat;

      &:hover {
        background: $blue url("../../img/detective-hover.svg") 25px 27px/31px 26px no-repeat;
      }

      span {
        margin-bottom: 16px;
      }
    }

    &--four {
      height: 141px;
      background: $white url("../../img/tag.svg") 25px 24px no-repeat;

      &:hover {
        background: $blue url("../../img/tag-hover.svg") 25px 24px no-repeat;
      }
    }
  }

  .about-us__text-wrap {
    padding-left: 188px;
    padding-right: 0;
    position: relative;

    h2 {
      font-size: 32px;
      line-height: 45px;
      position: relative;
      left: -3px;
      margin-bottom: 25px;
    }

    h2 + p {
      margin-bottom: 19px;
    }

    &::before {
      position: absolute;
      content: "..";
      display: flex;
      width: 20px;
      height: 20px;
      color: $grey;
      background-color: $white;
      left: 697px;
      top: 244px;
    }

    &::after {
      position: absolute;
      content: "";
      width: 550px;
      height: 70px;
      background-color: $white;
      left: 150px;
      bottom: 75px;
    }

    a {
      position: relative;
      top: -62px;
      z-index: 1;
    }

    p {
      width: 532px;
    }
  }

  @media (min-resolution: 2dppx) {
    .about-us {
      background: url("../../img/triangle-center.svg") -202.6% 38% no-repeat,
        url("../../img/year-tablet@2x.png") 0 90%/contain contain no-repeat;
    }
  }
}

@media (max-width: $table-width - 1) {
  .about-us {
    background: url("../../img/triangle-center.svg") 22% 66.7% no-repeat;

    .container {
      padding-top: 37px;
      padding-bottom: 0;
      margin-bottom: -55px;
    }

    span {
      font-size: 20px;
      line-height: 28px;
      margin-right: -15px;
    }

    p {
      margin-right: -20px;
    }

    ul {
      margin-bottom: 36px;
    }
  }

  .about-us__list-item {
    height: 212px;
    width: 100%;
    padding: 72px 28px 24px 25px;
    border-left-width: 2px;
    margin-bottom: 20px;

    &:nth-child(n + 1) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }

    &--one {
      p {
        margin-right: 0;
      }
    }

    &--two {
      height: 216px;
      padding-top: 68px;
    }

    &--three {
      height: 144px;
      padding-top: 62px;
      background-position: 24px 24px;

      &:hover {
        background-position: 24px 24px;
      }

      span {
        margin-bottom: 18px;
      }
    }

    &--four {
      height: 150px;
      padding-top: 68px;

      span {
        margin-bottom: 18px;
      }

      p {
        margin-right: -10px;
      }
    }
  }

  .about-us__text-wrap {
    left: auto;
    margin-left: auto;
    margin-right: auto;
    width: 288px;
    padding-left: 0;

    p {
      width: 100%;
    }

    h2 {
      font-size: 29px;
      line-height: 39px;
      letter-spacing: -0.01em;
      margin-bottom: 20px;
    }

    h2 + p {
      margin-bottom: 41px;
    }

    &::before {
      width: 100px;
      right: auto;
      left: 135px;
      top: 386px;
    }

    &::after {
      height: 100px;
      bottom: 90px;
      width: 100%;
      left: 0;
    }

    a {
      top: -120px;
    }
  }
}
