.header {
  flex: 1 0 auto;
  background: url("../img/triangle-group.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-desktop.png") 0 0 no-repeat;

  .container {
    padding-top: 33px;
    padding-left: 8px;
    padding-bottom: 102px;
  }
}

.header__logo {
  margin-left: 3px;

  &:hover {
    cursor: pointer;
  }

  svg + svg {
    display: none;
  }
}

.header__links-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 172px;
}

.header__link {
  font-size: 16px;
  line-height: 18px;
  color: $white;
  position: relative;

  &::before {
    position: absolute;
    content: "";
  }

  &--phone {
    margin-left: 122px;

    &::before {
      width: 18px;
      height: 18px;
      background: url("../img/phone.svg") 0 0 no-repeat;
      top: 0;
      left: -33px;
    }
  }

  &--email {
    &::before {
      width: 19px;
      height: 14px;
      background: url("../img/email.svg") 0 0 no-repeat;
      top: 2px;
      left: -38px;
    }
  }
}

.header__feedback-link {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 13px 26px;
  margin-left: 48px;
}

.header__wrap {
  display: flex;
  align-items: baseline;
  padding-top: 5px;
}

.header__content-wrap {
  display: flex;
}

.header__text-wrap {
  min-width: 730px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h1 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 5px;
  }

  p {
    font-size: 22px;
    line-height: 34px;
    color: $white;
    margin-left: 98px;
    position: relative;
    margin-bottom: 44px;

    &::before {
      position: absolute;
      content: "";
      width: 66px;
      height: 2px;
      background-color: $white;
      top: 17px;
      left: -95px;
    }
  }

  p + a {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background-color: $blue;
    border-radius: 5px;
    margin-left: 97px;
    padding: 18px 45px 18px 46px;
    margin-bottom: 132px;
  }

  p + a > span + span {
    display: none;
  }

  a + a {
    font-size: 14px;
    line-height: 16px;
    color: $white;
    opacity: 0.5;
    transform: rotate(-90deg);
    position: relative;
    left: -34px;
  }
}

.header__modal-wrap {
  display: none;
  position: absolute;
  top: 1px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  &--open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.header__modal {
  position: relative;
  top: -31px;
  width: 412px;
  height: 598px;
  background-color: $blue;
  padding-top: 7px;
  padding-left: 39px;
  padding-right: 39px;

  button[type="button"] {
    position: absolute;
    top: 19px;
    right: 14px;
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }
  }

  h2 {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    color: $white;
    margin-bottom: 12px;
  }

  p {
    margin-top: 0;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    width: 370px;
    margin-bottom: 32px;
  }

  input[type="text"],
  input[type="tel"] {
    font-family: "PT Mono", "Courier", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 12px 17px 18px 24px;
    margin-bottom: 30px;
    width: calc(100% - 42px);

    &::placeholder {
      font-family: "PT Mono", "Courier", monospace;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  textarea {
    font-family: "PT Mono", "Courier", monospace;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: $white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 11px 17px 16px 24px;
    height: 77px;
    margin-bottom: 26px;
    width: calc(100% - 42px);
    resize: none;

    &::placeholder {
      font-family: "PT Mono", "Courier", monospace;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      color: $white;
    }

    &:hover {
      cursor: pointer;
    }
  }

  button[type="submit"] {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 13px;
    width: 100%;
    text-align: center;
    margin-bottom: 32px;

    &:hover {
      cursor: pointer;
    }
  }
}

.header__check-wrap {
  padding-left: 50px;
  width: 350px;

  &:focus-within {
    outline: 1px solid $black;
  }

  label {
    font-size: 14px;
    line-height: 16px;
    color: $white;
    opacity: 0.8;
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  input[type="checkbox"] + label {
    &::before {
      position: absolute;
      content: "";
      width: 14px;
      height: 14px;
      background-color: transparent;
      border: 1px solid $white;
      top: 2px;
      left: -49px;
    }
  }

  input[type="checkbox"]:checked {
    & + label::after {
      position: absolute;
      content: "";
      background: url("../img/check.svg") 0 0 no-repeat;
      width: 9px;
      height: 6px;
      top: 7px;
      left: -45px;
    }
  }
}

.header__img-wrap {
  &--desktop {
    min-width: 705px;
    height: 515px;
    position: relative;
    left: 58px;
    top: -3px;
  }

  &--tablet {
    display: none;
  }

  &--mobile {
    display: none;
  }
}

@media (min-resolution: 2dppx) {
  .header {
    background: url("../img/triangle-group.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-desktop@2x.png") 0 0 no-repeat;
  }
}

@media (min-width: $desktop-width) and (max-width: $desctop-content-width - 1px) {
  .header {
    background: url("../img/triangle-group.svg") 70% 0 no-repeat, $dark-grey url("../img/header-background-desktop.png") 0 0/100% 100% no-repeat;

    .container {
      padding-left: 10px;
    }
  }

  .header__text-wrap {
    min-width: auto;
    max-width: 460px;

    p + a {
      padding: 18px 25px;
      width: calc(100% - 140px);
    }
  }

  .header__img-wrap {
    &--desktop {
      min-width: auto;
      max-width: 460px;
    }
  }

  .header__links-wrap {
    margin-right: 24px;

    &--phone {
      margin-left: 40px;
    }
  }

  .header__feedback-link {
    margin-left: 24px;
  }
}

@media (max-width: $desktop-width - 1px) {
  .header {
    background: url("../img/triangle-group-tablet.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-tablet.png") 0 0 no-repeat;
    background-size: 100%;
    overflow-x: hidden;

    .container {
      padding-top: 20px;
      padding-left: 25px;
      padding-right: 0;
      padding-bottom: 163px;
    }
  }

  .header__logo {
    margin-left: 0;

    svg + svg {
      display: none;
    }
  }

  .header__links-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  .header__link {
    span {
      display: none;
    }

    &--phone {
      margin-left: 33px;
      margin-right: 23px;
      width: 24px;
      height: 24px;

      &::before {
        width: 24px;
        height: 24px;
        background-size: contain;
        top: auto;
        left: auto;
      }
    }

    &--email {
      width: 26px;
      height: 18px;

      &::before {
        width: 26px;
        height: 18px;
        background-size: contain;
        top: -3px;
        left: auto;
      }
    }
  }

  .header__feedback-link {
    display: none;
  }

  .header__wrap {
    padding-top: 12px;
  }

  .header__content-wrap {
    display: flex;
    justify-content: space-between;
  }

  .header__text-wrap {
    min-width: auto;
    max-width: 430px;
    padding-top: 42px;
    padding-left: 63px;

    h1 {
      font-size: 60px;
      line-height: 70px;
      margin-bottom: 11px;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin-left: 51px;
      margin-bottom: 55px;

      &::before {
        width: 33px;
        top: 16px;
        left: -48px;
      }
    }

    p + a {
      font-size: 16px;
      line-height: 19px;
      margin-left: 51px;
      padding: 18px 31px;
      margin-bottom: 0;
      width: calc(100% - 103px);
    }

    a + a {
      display: none;
    }
  }

  .header__img-wrap {
    &--desktop {
      display: none;
    }

    &--tablet {
      min-width: 260px;
      display: block;
      position: relative;
      top: 7px;
      right: -2px;
    }
  }

  @media (min-resolution: 2dppx) {
    .header {
      background: url("../img/triangle-group-tablet.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-tablet@2x.png") 0 0 no-repeat;
      background-size: 100%;
    }
  }
}

@media (max-width: $table-width - 1px) {
  .header {
    background: url("../img/triangle-group-mobile.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-mobile.png") 0 0 no-repeat;
    background-size: 100%;

    .container {
      padding-top: 17px;
      padding-left: 16px;
      padding-right: 16px;
      padding-bottom: 13px;
    }
  }

  .header__logo {
    svg {
      display: none;
    }

    svg + svg {
      display: block;
    }
  }

  .header__links-wrap {
    margin-bottom: 37px;
  }

  .header__link {
    &--phone {
      margin-left: 22px;
      margin-right: 0;
    }
  }

  .header__feedback-link {
    display: none;
  }

  .header__wrap {
    padding-top: 5px;
  }

  .header__content-wrap {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    z-index: 1;
  }

  .header__text-wrap {
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
    position: relative;
    top: -57px;
    left: -1px;
    z-index: 2;

    h1 {
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 11px;
    }

    p {
      font-size: 16px;
      line-height: 25px;
      margin-bottom: 40px;

      &::before {
        top: 15px;
      }
    }

    p + a {
      font-size: 16px;
      line-height: 19px;
      margin-left: 3px;
      padding: 18px 32px;
      width: calc(100% - 65px);
      position: relative;
      text-align: center;
    }

    p + a > span {
      display: none;
    }

    p + a > span + span {
      display: block;
    }

    a + a {
      display: none;
    }
  }

  .header__img-wrap {
    &--tablet {
      display: none;
    }

    &--mobile {
      width: calc(100% + 16px);
      position: relative;
      right: 0;
      display: flex;
      justify-content: flex-end;
    }
  }

  @media (min-resolution: 2dppx) {
    .header {
      background: url("../img/triangle-group-mobile.svg") 0 0 no-repeat, $dark-grey url("../img/header-background-mobile@2x.png") 0 0 no-repeat;
      background-size: 100%;
    }
  }
}
