$table-width: 768px;
$desktop-width: 1024px;
$desctop-content-width: 1600px;
$white: #ffffff;
$black: #000000;
$dark-grey: #1b2d37;
$blue: #00b2ff;
$grey-light: #626962;
$grey: #666666;
$grey-special: #ebebeb;